/* Core styles for the page */
body {
    margin: 150;
    padding: 0;
    background: #FFFFFF;
    background-image: url(#{request.contextPath}/resources/gfx/BlueToWhiteGradient.jpg);
    background-repeat: repeat-x;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.8em;
    color: #363636;
}

#header {
    margin: 0px auto;
    height: 150px;
    width: 800px;
}

#loginForm {
    float: right;
}

#loggedForm {
    float: right;
}

#registerForm {
    float: right;
}

#container {
    margin: 0px auto;
    padding: 0 20px 10px 20px;
    border-top: 5px solid #000000;
    border-left: 5px solid #8c8f91;
    border-right: 5px solid #8c8f91;
    border-bottom: 25px solid #8c8f91;
    width: 860px;
    background: #FFFFFF;
    background-image: url(#{request.contextPath}/resources/gfx/headerbkg.png);
    background-repeat: repeat-x;
    padding-top: 30px;
    box-shadow: 3px 3px 15px #d5d5d5;
    min-height: 600px;
    overflow: auto;
}

#content {
    float: right;
    width: 600px;
    border: 2px solid #D5D5D5;
    padding: 20px;
    min-height: 600px;
}

#extContent {
    float: left;
    width: 760px;
    padding: 20px;
    min-height: 600px;
}

#aside {
    float: left;
    width: 160px;
    border: 2px solid #D5D5D5;
    padding: 20px;
    min-height: 600px;
}

#aside ul {
    padding-left: 30px;
}

.dualbrand {
    float: right;
    padding-right: 10px;
}

#footer {
    clear: both;
    text-align: center;
    color: #666666;
    font-size: 0.85em;
}

code {
    font-size: 1.1em;
}

a {
    color: #4a5d75;
    text-decoration: none;
}

a:hover {
    color: #369;
    text-decoration: underline;
}

/* User registration styles */
span.invalid {
    padding-left: 3px;
    color: red;
}

form {
    padding: 5px;
    font: 80%/1 sans-serif;
    width: 150px;
}

label {
    float: left;
    width: 15%;
    margin-left: 5px;
    padding-top: 5px;
    text-align: right;
    font-weight: bold;
    color: #363636;
}

input {
    margin-bottom: 8px;
}

.register {
    float: left;
    margin-left: 85px;
}

.loginButton {
    float: right;
}

.playButton {
    float: left;
}

.videoItem {
    width: 290px;
    height: 150px;
    text-align: center;
}

.registerButton {
    float: left;
}

.ui-carousel {
    position: relative;
    display: inline-block;
    padding: 1px;
}

.hideMe {
    display: none;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -400px;
    margin-top: -200px;
}

.hideHistory {
    display: none;
    position: absolute;
    top: 30%;
    left: 30%;
}

.top {
    vertical-align: top;
}

.videoDetail {
    background-color: #fff;
    border: 1px solid #808080;
    border-radius: 3px;
    box-shadow: 10px 10px 5px #999;
    color: #000;
    overflow: hidden;
    padding: 2px;
    width: 800px;
    height: 500px;
}

.enlargedVideo {
    float: left;
    margin: 25px 0 25px 25px;
}

.closeVideo {
    float: right;
    margin: 4px 4px 0 0;
}

.ui-selectonemenu-panel {
    width: 150px
}
